:root {
  font-family: 'Roboto', sans-serif;
  /*NODO RAÍZ = HTML*/
  font-size: 14px;
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 300;
  display: flex;
  color: #333;
  background-color: #f1f1f1;
  justify-content: flex-end;
}

#contenedor {
  left: 0;
  /* FLEXBOX */
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: flex-start;
}

#perfil {
  position: fixed;
  left: 0;
  /* FLEXBOX */
  display: flex;
  width: 25%;
  height: 100vh;
  padding: 10px;
  flex-flow: column wrap;
  align-items: flex-end;
}

#contenido {
  right: 0;
  width: 85%;
  max-width: 1500px;
  height: auto;
  margin: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

a {
  width: 100%;
  text-decoration: none;
  COLOR: grey;
}

.mi-foto {
  width: 80%;
  max-width: 270px;
  height: auto;
}


/*********************** BOTONES DEL MENUUU ***********************/

nav {
  font-weight: 300;
  width: 80%;
  max-width: 270px;
  min-width: 130px;
}

.ripple {
  position: relative;
  /*FLEXVOX*/
  display: flex;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  padding: 6px 12px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  text-align: right;
  text-decoration: none;
  letter-spacing: .5px;
  color: grey;
  outline: 1px solid rgba(0, 0, 0, .28);
  background-color: #33373d;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16);
  align-items: center;
  justify-content: space-between;
}


/*BACKGROUND DEL RIPPLE*/

.grey {
  background-color: red;
}

.ripple:hover {
  font-size: 1.2rem;
  z-index: 10;
  transform: scale(1.02);
  color: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18);
}

.ink {
  position: absolute;
  display: block;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  border-radius: 100%;
  background: rgba(0, 0, 0, .4);
}

.animate {
  -webkit-animation: ripple .55s linear;
  -moz-animation: ripple .55s linear;
  -ms-animation: ripple .55s linear;
  -o-animation: ripple .55s linear;
  animation: ripple .55s linear;
}

@-webkit-keyframes ripple {
  100% {
    -webkit-transform: scale(2.5);
    opacity: 0;
  }
}

@-moz-keyframes ripple {
  100% {
    -moz-transform: scale(2.5);
    opacity: 0;
  }
}

@-o-keyframes ripple {
  100% {
    -o-transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes ripple {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}


/*--------------------------------- ICONOS DE MENU -------------------------------------------*/

.icono {
  float: left;
  width: 35px;
  height: 35px;
  background-size: cover;
}

.imagen-sobre-mi {
  transition: all 180ms;
  background-image: url('../img/sobre-mi.png');
}

.imagen-educacion {
  transition: all 180ms;
  background-image: url('../img/educacion.png');
}

.imagen-experiencia-laboral {
  transition: all 180ms;
  background-image: url('../img/experiencia-laboral.png');
}

.imagen-hobbie {
  transition: all 180ms;
  background-image: url('../img/hobbie.png');
}

.imagen-portofolio {
  transition: all 180ms;
  background-image: url('../img/portofolio.png');
}

.imagen-contacto {
  transition: all 180ms;
  background-image: url('../img/contacto.png');
}

nav div:hover .imagen-sobre-mi {
  transform: scale(1.2);
  background-image: url('../img/sobre-mi-hover.png');
}

nav div:hover .icono.imagen-educacion {
  transform: scale(1.2);
  background-image: url('../img/educacion-hover.png');
}

nav div:hover .imagen-experiencia-laboral {
  transform: scale(1.2);
  background-image: url('../img/experiencia-laboral-hover.png');
}

nav div:hover .icono.imagen-hobbie {
  transform: scale(1.2);
  background-image: url('../img/hobbie-hover.png');
}

nav div:hover .icono.imagen-portofolio {
  transform: scale(1.2);
  background-image: url('../img/portofolio-hover.png');
}

nav div:hover .icono.imagen-contacto {
  transform: scale(1.2);
  background-image: url('../img/contacto-hover.png');
}

.redes {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 0 0 100% 100%;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  flex-wrap: wrap;
  justify-content: center;
}

.redes div {
  border-radius: 100%;
}

.redes a img {
  width: 30px;
  height: 30px;
  margin: 10px;
  -webkit-transition: all 550ms;
  -moz-transition: all 550ms;
  -ms-transition: all 550ms;
  -o-transition: all 550ms;
  transition: all 550ms;
  opacity: .35;
}

.redes div:hover a img {
  width: 30px;
  height: 30px;
  margin: 10px;
  transform: scale(1.05);
  opacity: .95;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18);
  filter: blur();
}


/********* C O N T E N I D O *************/


/*SECCIÓN TITULO*/

.seccion-titulo {
  position: relative;
  margin-bottom: 15px;
  padding: 25px 10px 0 10px;
  border-bottom: 1px solid #efefef;
}

.linea {
  position: relative;
  top: 13px;
  left: 12px;
  width: 60px;
  padding: 0 7px;
  background: #fff;
}

div.titulo {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 25px;
  text-transform: uppercase;
  color: #444;
}

.linea img {
  width: 100%;
}

.firmaDibujo {
  width: 15rem;
  border-radius: 100%;
}

.firma {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}


/*   TIPEO TIPO DE MAQWUINA DE ESCRIBIR EN TEXTO DE BIOGRAFIA*/

.typed-cursor {
  -webkit-animation: blink .7s infinite;
  -moz-animation: blink .7s infinite;
  animation: blink .7s infinite;
  opacity: 0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


/************************ tipeo *********************************/


/*  T A B L A   D E   D A T O S */

.lista-datos {
  float: left;
  min-width: 307px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.titulo-tablaDatos {
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: .2rem;
  color: #666;
  border-bottom: 1px solid #efefef;
}

.dato {
  font-weight: 400;
  display: inline-block;
  width: 35%;
  padding: 8px 0;
  text-align: center;
  border-right: 1px solid #efefef;
  background-color: #f9f9f9;
}

.respuesta {
  display: inline-block;
  width: 63%;
  padding: 8px 0;
  text-align: center;
  color: #666;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.lista-datos {
  float: left;
  width: 48%;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: -4px;
  text-align: center;
  border: 1px solid #efefef;
}

.item-datos {
  min-width: 287px;
  border-bottom: 1px solid #efefef;
}

.item-datos:last-child {
  border: none;
}

.w-clearfix:before, .w-clearfix:after {
  display: table;
  content: ' ';
}

.w-clearfix:after {
  clear: both;
}


/*   DATOS DE ESTUDIOS, EXPERIENCIA LABORAL, CURSOS   */

.calendario {
  float: left;
  width: 16px;
  height: 18px;
  margin-right: 2px;
}

.fecha-texto {
  font-size: .9rem;
  font-weight: 400;
  display: inline-block;
  clear: both;
  margin-left: 5px;
}

h6 {
  font-size: 1.15rem;
  font-weight: 400;
  margin-top: 1.5rem;
  color: #444;
}

#estudios p, #cursos p, #empleos p {
  font-size: .8rem;
  margin-left: 23px;
}

#contenidoHobbies {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-content: center;
}

.muestraHobbie {
  width: 22%;
  min-width: 125px;
  margin: 8px;
}


/* formularioooooooooooooooo */

.contenedor-formulario {
  width: 100%;
  color: #f2f2f2;
  padding: 50px;
}

.contenedor-formulario .formulario {
  width: 100%;
  margin: auto;
}

.contenedor-formulario .formulario .input-group {
  position: relative;
  margin-bottom: 32px;
}

.contenedor-formulario .formulario .input-group input[type="text"],
.contenedor-formulario .formulario .input-group input[type="email"],
.contenedor-formulario .formulario .input-group textarea{
  font-family: "Roboto", Arial;
  font-size: 16px;
  color: #333;
  width: 100%;
  outline: none;
  padding: 2.5px 6px;
  background: none;
  border: none;
  border-bottom: 1px solid #555;
}

.contenedor-formulario .formulario .input-group input[type="text"],
.contenedor-formulario .formulario .input-group input[type="email"],
.contenedor-formulario .formulario .input-group textarea {
  color: #555;
}

.contenedor-formulario .formulario .input-group input[type="text"]:focus,
.contenedor-formulario .formulario .input-group input[type="text"]:active,
.contenedor-formulario .formulario .input-group input[type="email"]:focus,
.contenedor-formulario .formulario .input-group input[type="email"]:active,
.contenedor-formulario .formulario .input-group textarea:focus,
.contenedor-formulario .formulario .input-group textarea:active {
  outline: none;
  border-bottom: 1px solid #03a9f4;
}

.contenedor-formulario .formulario .input-group input[type="text"]:hover,
.contenedor-formulario .formulario .input-group input[type="email"]:hover,
.contenedor-formulario .formulario .input-group textarea:hover {
  outline: none;
  border-bottom: 1.5px solid #03a9f4;
}

.contenedor-formulario .formulario .input-group input[type="text"].error,
.contenedor-formulario .formulario .input-group input[type="email"].error,
.contenedor-formulario .formulario .input-group textarea.error {
  border-bottom: 1px solid #D32F2F;
}

.contenedor-formulario .formulario .input-group input[type="text"].error+label,
.contenedor-formulario .formulario .input-group input[type="email"].error+label,
.contenedor-formulario .formulario .input-group textarea.error+label {
  color: #D32F2F;
}

.contenedor-formulario .formulario .input-group label {
  color: #555;
}

.contenedor-formulario .formulario .input-group label.label {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 15px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 0px;
  left: -10px;
}

.contenedor-formulario .formulario .input-group label.label.active {
  top: -13px;
  left: -10px;
  font-size: 13px;
  line-height: 12px;
  color: #03a9f4;
}

.contenedor-formulario .formulario .input-group.error label {
  color: #D32F2F;
}

.contenedor-formulario .formulario .input-group.error label:before {
  border: 2px solid #D32F2F;
}
#mensaje{
  height:50px;
}
